  @media (max-width: 900px) {
    .containerDetail {
        padding-left: 10%;
        padding-right: 10%;
        padding-top : 15px;
        display: flex;
        flex-direction: column;
    }
  }

  @media (min-width: 910px) {
    .containerDetail {
        padding-left: 20%;
        padding-right: 20%;
        padding-top : 15px;
        display: flex;
        flex-direction: column;
    }
  }


.detailTitle{
    width : "100%"
}

.writerToggle{
    display: flex;
    justify-content: space-between;
    margin-bottom: -25px;
}

.contentInfo{
    margin-top: 10px;
    font-size: 10.5pt;
}


.detailContent{
    padding-left: 2%;
    padding-right: 2%;
}

.content{
    display: flex;
    justify-content: space-between;
}


#contentImg{
    width : auto;
    height: auto;
    max-width: 250px;
    max-height: 50%;
    margin-left: 40px;

}

.resultContent{
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}


.contentLeft{
    display: flex;
    width: 70%;
}


#bestEmotionEmoticon{
    font-size: 40pt;
}

.emotionTitle{
    margin-bottom: 10px;
}

.emotionResult{
    margin-left: 5%;
    margin-right: 5%;
    width: 250px;
}

#progressBar{
    height : 25px;
    margin-top: -10px;
    background-color: white;

}

.resultText{
    width : 30%;
    text-align : center;

}

.recommendMusic{
    margin-bottom: 50px;
    text-align: center;

}

.recommendMusicTitle{
    text-align: start;
}

.iframeYoutube{
    width : 350px;
    height: 210px;
    margin : 10px;
    border-radius: 10px;
    margin-left: 50px;
}

.iframeYoutubeMobile{
    width : 350px;
    height: 210px;
    border-radius: 10px;
}