.bannerContent{
    display : flex;
    justify-content : space-between;
  }

#button{
    background-color: #4A93FF;
    border: none;
}

.mainBannerBox{
  border-radius : 10px;
  background-image: url(../image/배너_7.jpeg);
  background-repeat: no-repeat;
  /* 이미지 여백이 나온 경우 */
  background-size : cover;

}
