#fontBig {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#fontSmall {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

#noblue { 
    text-decoration: none;
}

/* #cardImage{
    width : 400x;
    height: 500px;

    object-fit: cover;
} */
