#div1 {
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}

#div2 {
    text-align: center;
}

#logo {
    width: 250px;
    height: 120px;
}

#div3 {
    justify-content: center;
    padding: 50px 200px 0px 200px;
}

#step {
    display: flex;
    justify-content: center;
    padding: 0px 0px 50px 0px;
}

#Info {
    justify-content: center;
    padding: 0px 100px 300px 100px;
}

#nextButton {
    background-color: #4A93FF;
    border: none;
    float: right;
    width: 100px;
}

#previousButton {
    border: none;
    float: left;
    width: 100px;
}