@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("/src/static/font/AppleSDGothicNeoM.ttf");
}

#font-family{
  font-family: 'AppleSDGothicNeo';
}


.topPadding {
  padding-top: 90px;
}

.pagination{
  margin: 0 auto;
}


.listNav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.log{
  width: 30%;
  justify-content: center;
  align-items: center;

}


.loadingSpinner{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

